.home-body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95vw;
  height: 90vh;
}
.home-items{
  font-size: 1.5rem;
  color: #6698ff;
}
.explore-link{
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
}
.explore-btn{
  width: 200px;
  margin-top: 20px;
  background: #66cdaa;
  padding: 10px 20px;
  border-radius: 45px;
  border: none;
  color: #ccc;
  box-shadow: 0 0 8px grey;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
}
.explore-btn:hover{
  background: #6698ff;
  box-shadow: 0 0 10px grey;
}

.display-img {
  width: 550px;
  height: 400px;
  box-shadow: 0 0 20px;
}